body {
    background-color: cadetblue;
    color: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid black;
}